<!DOCTYPE html>
<html lang="vi">

<head>

    <meta charset="utf-8">
    <meta name="robots" content="all,follow">
    <meta name="googlebot" content="index,follow,snippet,archive">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Obaju e-commerce template">
    <meta name="author" content="Ondrej Svestka | ondrejsvestka.cz">
    <meta name="keywords" content="">

    <title>
        Stylitics Fashion
    </title>

    <meta name="keywords" content="">

    <link href="http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100" rel="stylesheet" type="text/css">

    <!-- styles -->
    <link href="/assets/client/css/font-awesome.css" rel="stylesheet">
    <link href="/assets/client/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/client/css/animate.min.css" rel="stylesheet">
    <link href="/assets/client/css/owl.carousel.css" rel="stylesheet">
    <link href="/assets/client/css/owl.theme.css" rel="stylesheet">

    <!-- theme stylesheet -->
    <link href="/assets/client/css/style.default.css" rel="stylesheet" id="theme-stylesheet">

    <!-- your stylesheet with modifications -->
    <link href="/assets/client/css/custom.css" rel="stylesheet">

    <script src="/assets/client/js/respond.min.js"></script>

    <link rel="shortcut icon" href="favicon.png">



</head>

<body>

    <!-- *** TOPBAR ***
    _________________________________________________________ -->
    <div id="top">
        <div class="container">
            <div class="col-md-6 offer" data-animate="fadeInDown">
                <a href="#" class="btn btn-success btn-sm" data-animate-hover="shake">Tin khuyến mãi</a>  <a href="#">Giảm giá tới 35% cho đơn hàng trên 500.000Đ</a>
            </div>
            <div class="col-md-6" data-animate="fadeInDown">
                <ul class="menu">
                    <li>
                        <a href="#" data-toggle="modal" data-target="#login-modal">Đăng nhập</a>
                    </li>
                    <li>
                        <a href="register.html">Đăng ký</a>
                    </li>
            </div>
        </div>
        <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
            <div class="modal-dialog modal-sm">

                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="Login">Đăng nhập</h4>
                    </div>
                    <div class="modal-body">
                        <form action="customer-orders.html" method="post">
                            <div class="form-group">
                                <input type="text" class="form-control" id="email-modal" placeholder="Tên đăng nhập">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" id="password-modal" placeholder="Mật khẩu">
                            </div>

                            <p class="text-center">
                                <button class="btn btn-primary"><i class="fa fa-sign-in"></i>Đăng nhập</button>
                            </p>

                        </form>

                        <p class="text-center text-muted">Bạn chưa đăng ký?</p>
                        <p class="text-center text-muted"><a href="register.html"><strong>Đăng ký ngay</strong></a>! Đăng ký đơn giản chỉ trong 1 phút và bạn có cơ hội nhận được rất nhiều ưu đãi!</p>

                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- *** TOP BAR END *** -->
    <!-- *** NAVBAR ***
    _________________________________________________________ -->

    <div class="navbar navbar-default yamm" role="navigation" id="navbar">
        <div class="container">
            <div class="navbar-header">

                <a class="navbar-brand home" href="index.html" data-animate-hover="bounce">
                    <img src="/assets/client/img/logo.png" alt="Obaju logo" class="hidden-xs">
                    <img src="/assets/client/img/logo-small.png" alt="Obaju logo" class="visible-xs"><span class="sr-only">Stylitics - Trang chủ</span>
                </a>
                <div class="navbar-buttons">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="fa fa-align-justify"></i>
                    </button>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#search">
                        <span class="sr-only">Toggle search</span>
                        <i class="fa fa-search"></i>
                    </button>
                    <a class="btn btn-default navbar-toggle" href="order.html">
                        <i class="fa fa-shopping-cart"></i>  <span class="hidden-xs">3 items in cart</span>
                    </a>
                </div>
            </div>
            <!--/.navbar-header -->

            @{ Html.RenderAction("DanhMuc", "Home");}
            <!--/.nav-collapse -->

            <div class="navbar-buttons">

                <div class="navbar-collapse collapse right" id="order-overview">
                    <a href="order.html" class="btn btn-primary navbar-btn"><i class="fa fa-shopping-cart"></i><span class="hidden-sm">Giỏ hàng</span></a>
                </div>
                <!--/.nav-collapse -->

                <div class="navbar-collapse collapse right" id="search-not-mobile">
                    <button type="button" class="btn navbar-btn btn-primary" data-toggle="collapse" data-target="#search">
                        <span class="sr-only">Toggle search</span>
                        <i class="fa fa-search"></i>
                    </button>
                </div>

            </div>

            <div class="collapse clearfix" id="search">

                <form class="navbar-form" role="search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Tìm kiếm">
                        <span class="input-group-btn">

                            <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>

                        </span>
                    </div>
                </form>

            </div>
            <!--/.nav-collapse -->

        </div>
        <!-- /.container -->
    </div>
    @RenderBody()
    <div id="footer" data-animate="fadeInUp">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <h4>Thông tin</h4>

                    <ul>
                        <li>
                            <a href="#">Giới thiệu</a>
                        </li>
                        <li>
                            <a href="#">Quy định về quyền riêng tư</a>
                        </li>
                        <li>
                            <a href="#">Tuyển dụng</a>
                        </li>
                        <li>
                            <a href="#">Liên hệ</a>
                        </li>
                    </ul>

                    <hr class="hidden-md hidden-lg hidden-sm">

                </div>
                <!-- /.col-md-3 -->

                <div class="col-md-3 col-sm-6">

                    <h4>Dịch vụ khách hàng</h4>

                    <ul>
                        <li>
                            <a href="#">Địa chỉ cửa hàng</a>
                        </li>
                        <li>
                            <a href="#">Câu hỏi thường gặp</a>
                        </li>
                        <li>
                            <a href="#">Điều khoản mua hàng online</a>
                        </li>
                        <li>
                            <a href="#">Hướng dẫn mua hàng online</a>
                        </li>
                        <li>
                            <a href="#">Chính sách vận chuyển</a>
                        </li>
                        <li>
                            <a href="#">Phương thức thanh toán</a>
                        </li>
                    </ul>

                    <hr class="hidden-md hidden-lg">

                </div>
                <!-- /.col-md-3 -->

                <div class="col-md-3 col-sm-6">

                    <h4>Địa chỉ</h4>

                    <p>
                        <strong>Stylitics Fashion Ltd.</strong>
                        <br>236 Hoàng Quốc Việt
                        <br>Ba Đình
                        <br>Hà Nội
                        <br>
                        <strong>Việt Nam</strong>
                    </p>

                    <a href="home.php?page=contact">Đi đến trang Liên hệ</a>

                    <hr class="hidden-md hidden-lg">

                </div>
                <!-- /.col-md-3 -->



                <div class="col-md-3 col-sm-6">

                    <h4>Tin bài mới</h4>

                    <p class="text-muted">Luôn theo dõi những xu hướng thời trang và cập nhật những sản phẩm mới nhất của chúng tôi</p>

                    <form>
                        <div class="input-group">

                            <input type="text" class="form-control">

                            <span class="input-group-btn">

                                <button class="btn btn-default" type="button">Đăng ký!</button>

                            </span>

                        </div>
                        <!-- /input-group -->
                    </form>

                    <hr>

                    <h4>Liên hệ với chúng tôi tại</h4>

                    <p class="social">
                        <a href="#" class="facebook external" data-animate-hover="tada"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="twitter external" data-animate-hover="tada"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="instagram external" data-animate-hover="tada"><i class="fa fa-instagram"></i></a>
                        <a href="#" class="gplus external" data-animate-hover="tada"><i class="fa fa-google-plus"></i></a>
                        <a href="#" class="email external" data-animate-hover="tada"><i class="fa fa-envelope"></i></a>
                    </p>


                </div>
                <!-- /.col-md-3 -->

            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->
    </div>
    <!-- /#footer -->
    <!-- *** FOOTER END *** -->
    <!-- *** COPYRIGHT ***
    _________________________________________________________ -->
    <div id="copyright">
        <div class="container">
            <div class="col-md-6">
                <p class="pull-left">© 2016 Thiết kế bởi Stylitics Fashion</p>
            </div>
            <div class="col-md-6">
            </div>
        </div>
    </div>
    <!-- *** COPYRIGHT END *** -->

    <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>

    </div>
    <!-- /#all -->
    <!-- *** SCRIPTS TO INCLUDE ***
    _________________________________________________________ -->
    <script src="/assets/client/js/jquery-1.11.0.min.js"></script>
    <script src="/assets/client/js/bootstrap.min.js"></script>
    <script src="/assets/client/js/jquery.cookie.js"></script>
    <script src="/assets/client/js/waypoints.min.js"></script>
    <script src="/assets/client/js/modernizr.js"></script>
    <script src="/assets/client/js/bootstrap-hover-dropdown.js"></script>
    <script src="/assets/client/js/owl.carousel.min.js"></script>
    <script src="/assets/client/js/front.js"></script>
    <script src="/assets/client/js/custom.js"></script>

</body>

</html>